body
{
	background-color:seagreen;
	padding:3em;
}
h1
{
	background-color:crimson;
	color:white;
	text-align:center;
}
table
{
	width:100%;
}	
.head
{
	background-color:navy;
	color:white;
}
.resul
{
	background-color:white;
	text-align:justify;
}
.blank
{
	height:50px;
}
div
{
	text-align:right;
	background-color:gold;
	padding:2em;
}
a
{
	font-size:16px;
	font-family:Arial;
	color:black;
}